* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: rgb(0, 47, 209);
}

h2 {
    margin-top: 11px;
    text-align: center;
}

/* Header style */
.item-details {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Input text style */
#item {
    width: 20%;
    height: 40px;
    margin: 5px;
    border-radius: 3px;
}

::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: rgb(0, 0, 0);

}

#btn-add {
    width: 60px;
    height: 45px;
    border-radius: 5px;
    background-color: rgb(51, 51, 167);
}

#btn-add:hover {
    background-color: rgb(41, 41, 120);
}

a {
    color: #fff;
    font-size: medium;
}

.remove,
.complete {
    width: 60px;
    height: 45px;
    margin: 2px;
}

.complete {
    background-color: rgb(14, 124, 14);
    color: #fff;
    border-radius: 5px;
}

.complete:hover {
    background-color: rgb(15, 104, 15);

}

.remove {
    background-color: rgb(157, 12, 12);
    color: #fff;
    border-radius: 5px;

}

.remove:hover {
    background-color: rgb(130, 16, 16);
}